@import "libs/reset.css";
/*Responsive*/
// - Mobile: 375px
// - Desktop: 1440px

/*Colors*/
$violet :hsl(300, 43%, 22%);
$pink : hsl(333, 80%, 67%);
$dark-magenta : hsl(303, 10%, 53%);
$light-magenta : hsl(300, 24%, 96%);
$white : hsl(0, 0%, 100%);

/*Font-size*/
$size : 18px;


body{
    background-image: url('../images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Spartan', sans-serif;
    margin: 0;
    font-size: $size;
}
.container{
    width: 100%;
    height: auto;
}

/*Partie supérieure*/
.up-container{
    color: $violet;
    font-weight: bold;
    display: flex;
    height: 50vh;
    
    .subtitle{
        color: $dark-magenta;
    }
    h1{
        font-size: 3em;
    }
    .intro{
        width: 50%;
        margin: auto;
        .center{
            width: 50%;
            margin: auto;
        }
    }
    .rated{
        width: 50%;
        margin: auto;
    }
    .stars{
        background-color: $light-magenta;
        width: 50%;
        height: 10%;
        border-radius: 10px;
        display: flex;
        margin-top: 10px;
        .star{
            margin: 20px 2px;
            width: 20px;
            height: 20px;
            padding-left: 10px;
        }
        p{
            margin:23px 30px;
        }
    }
    .part-2{
        margin-left: 5%;
    }
    .part-3{
        margin-left: 10%;
    }

}


/*Partie inférieure*/
.low-container{
    height: 50vh;
    display: flex;
    color: white;
    justify-content: center;

    .presentation{
        background-color:$violet;
        width: 20%;
        height: 300px;
        border-radius: 10px;
        margin: 20px;
    }
    .element-2{
        margin-top: 2%;
    }
    .element-3{
        margin-top: 3%;
    }
    .name{
        width: 70%;
        .verified{
            color: $pink;
            margin-top: -18px;
        }
    }
    .identity{
        padding: 10px;
        display: flex;
        .round-prensentation-picture{
            margin: auto;
            width:50px;
            height: 50px;
            clip-path:ellipse(50% 50%);
        }
    }
    .comment{
        width: 90%;
        margin: auto;
    }
}
.footer{
    text-align: center;
    font-size: 0.8em;
    color: $violet;
    padding: 5px;
    border-top: 1px solid $violet;
}

/* Responsive */
@media  (min-width: 374px ) and (max-width: 1440px ){
   .container{
       display: flex;
       flex-direction: column;
       width: 100%;
       height: auto;
   }

/*Partie sup*/
   .up-container{
    display: flex;
    flex-direction: column;
    height: auto;
        h1{
            font-size: 1.8em;
        }
        .intro{
            width: 90%;
            margin: auto;
            .center{
                width: 100%;
                text-align: center;
                margin: 20% auto;
            }
        }
        .rated{
            width: 100%;
            margin: auto;
            .responsive-stars{
                display: flex;
                justify-content: center;
            }
        }
        .stars{
            margin: auto;
            width: 90%;
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            p{
                text-align: center;
                margin:0px 0px 10px 0px;
            }
        }
    
    }
/*Partie inférieure*/
    .low-container{
        display: flex;
        flex-direction: column;
        height: auto;
        
        .presentation{
            background-color:$violet;
            width: 80%;
            height: auto;
            margin: auto;
            margin-top: 5%;
            margin: 5% auto 3% auto;
            padding: 20px;
        }
        .comment{
            font-size: 0.8em;
        }
    }
    
}